:root {
    --color-amarelo-main: #F2710C;
    --color-amarelo-hover: #ff6f00;

    --color-white-0: #fefefe;

    --color-black-0: #010101;
    --color-black-1: #2A2A2A;
    --color-black-2: #3A3A3A;
}